.row {
	display: flex;
	padding: 15px;
	align-items: center;
	font-size: 1.3rem;
	border-bottom: 1px solid #aaa;
}

.row:last-child {
	border-bottom: 0;
}

.row:hover {
	background: #ccc;
}

.row:hover .btn {
	display: inline-block;
}

.row span:first-child {
	margin-right: 1rem;
}

.btn {
	margin-left: auto;
	background: #ddd;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	display: none;
	color: #333;
}